.biography {
  .row {
    display: table-row;
    width:100%;

    div {
      display: table-cell;
    }

    input {
      width: 100%;
    }
  }

  .features-editor {
    height: 250px;
  }

  .box-section {
    background-color: rgb(177, 169, 166);
    padding: 5px;
    --notchSize: 9px;
  
      clip-path: 
        polygon(
          0% var(--notchSize), 
          var(--notchSize) 0%, 
          calc(100% - var(--notchSize)) 0%, 
          100% var(--notchSize), 
          100% calc(100% - var(--notchSize)), 
          calc(100% - var(--notchSize)) 100%, 
          var(--notchSize) 100%, 
          0% calc(100% - var(--notchSize))
      );

    .box-content {
      background-color: white;
      padding: 0 5px;
      position: relative;
      --notchSize: 9px;
  
      clip-path: 
        polygon(
          0% var(--notchSize), 
          var(--notchSize) 0%, 
          calc(100% - var(--notchSize)) 0%, 
          100% var(--notchSize), 
          100% calc(100% - var(--notchSize)), 
          calc(100% - var(--notchSize)) 100%, 
          var(--notchSize) 100%, 
          0% calc(100% - var(--notchSize))
      );

      .row {
        margin-top: 5px;
        position: relative;
        line-height: 30px;

        .row-input {
          position: absolute;
          right:25px;

          input {
            border: 0;
            background-color: rgba(0, 0, 0, 0.2);
          }

          input:focus { 
            box-shadow: 0 0 5px rgb(125, 169, 194);
            background-color: rgb(125, 169, 194);
          }
        }
      }
    }

    .features-editor {
      background-color: white;
      margin-top: 3px;
      padding: 0 5px;
      --notchSize: 9px;
  
      clip-path: 
        polygon(
          0% var(--notchSize), 
          var(--notchSize) 0%, 
          calc(100% - var(--notchSize)) 0%, 
          100% var(--notchSize), 
          100% calc(100% - var(--notchSize)), 
          calc(100% - var(--notchSize)) 100%, 
          var(--notchSize) 100%, 
          0% calc(100% - var(--notchSize))
      );
    }

    .box-title {
      background-color: rgb(73, 12, 11);
      color: white;
      text-align: center;
      --notchSize: 9px;
  
      clip-path: 
        polygon(
          0% var(--notchSize), 
          var(--notchSize) 0%, 
          calc(100% - var(--notchSize)) 0%, 
          100% var(--notchSize), 
          100% calc(100% - var(--notchSize)), 
          calc(100% - var(--notchSize)) 100%, 
          var(--notchSize) 100%, 
          0% calc(100% - var(--notchSize))
      );
    }
  }
}